body{	
	background-color: #eee;
	margin: 0px;
	overflow: hidden;
	font-family: 'IM Fell Great Primer', serif;
}
#cta{
	background-color: #D32F2F;
	color:white;
	padding:20px;
	max-width:500px;
	height:100px;
	margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-size: 2em;
    text-align: center
}